{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Uni - find something</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/dashboard/dropzone.css' %}">

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    </head>
    <body>
        {% block main %}
        {% endblock %}
    </body>
</html>