{% extends 'base_dashboard.html' %}
{% load staticfiles %}

{% block main %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </div>

<script src="{% static 'js/dashboard/jquery.timeago.js' %}"></script>
<script src="{% static 'js/dashboard/moment.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>

{% endblock %}
