{% extends 'base_dashboard.html' %}
{% load staticfiles %}

{% block main %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div id="calendar" style="max-width:100%;max-height:100%">

            </div>
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
<input type="hidden" id="myVar" name="variable" value="{{ events }}">
<script type="text/javascript">
    var a = JSON.parse("{{ events|escapejs }}");
</script>

<script src="{% static 'js/dashboard/jquery.timeago.js' %}"></script>

<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}
