{% extends 'base_dashboard.html' %}
{% load staticfiles %}

{% block main %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- /.col -->
        <div class="col-md-6">

               <div class = "col-sm-6 col-md-3">
                  <div class = "thumbnail">
                     <img src = "{% static 'images/food.jpg' %}" alt = "Generic placeholder thumbnail">
                  </div>

                  <div class = "caption">
                     <h3>Thumbnail label</h3>
                     <p>Some sample text. Some sample text.</p>

                     <p>
                        <a href = "#" class = "btn btn-primary" role = "button">
                           Button
                        </a>

                        <a href = "#" class = "btn btn-default" role = "button">
                           Button
                        </a>
                     </p>

                  </div>
               </div>

               <div class = "col-sm-6 col-md-3">
                  <div class = "thumbnail">
                     <img src = "{% static 'images/food.jpg' %}" alt = "Generic placeholder thumbnail">
                  </div>

                  <div class = "caption">
                     <h3>Thumbnail label</h3>
                     <p>Some sample text. Some sample text.</p>

                     <p>
                        <a href = "#" class = "btn btn-primary" role = "button">
                           Button
                        </a>

                        <a href = "#" class = "btn btn-default" role = "button">
                           Button
                        </a>
                     </p>

                  </div>
               </div>

               <div class = "col-sm-6 col-md-3">
                  <div class = "thumbnail">
                     <img src = "{% static 'images/food.jpg' %}" alt = "Generic placeholder thumbnail">
                  </div>

                  <div class = "caption">
                     <h3>Thumbnail label</h3>
                     <p>Some sample text. Some sample text.</p>

                     <p>
                        <a href = "#" class = "btn btn-primary" role = "button">
                           Button
                        </a>

                        <a href = "#" class = "btn btn-default" role =" button">
                           Button
                        </a>
                     </p>

                  </div>
               </div>

               <div class = "col-sm-6 col-md-3">
                  <div class = "thumbnail">
                     <img src = "{% static 'images/food.jpg' %}" alt = "Generic placeholder thumbnail">
                  </div>

                  <div class = "caption">
                     <h3>Thumbnail label</h3>
                     <p>Some sample text. Some sample text.</p>

                     <p>
                        <a href = "#" class = "btn btn-primary" role = "button">
                           Button
                        </a>

                        <a href = "#" class = "btn btn-default" role = "button">
                           Button
                        </a>
                     </p>

                  </div>
            </div>


        </div>

        <!-- /.col -->
      </div>
        <div class="row">
        <!-- /.col -->
        <div class="col-md-6">

               <div class = "col-sm-6 col-md-3">
                  <div class = "thumbnail">
                     <img src = "{% static 'images/food.jpg' %}" alt = "Generic placeholder thumbnail">
                  </div>

                  <div class = "caption">
                     <h3>Thumbnail label</h3>
                     <p>Some sample text. Some sample text.</p>

                     <p>
                        <a href = "#" class = "btn btn-primary" role = "button">
                           Button
                        </a>

                        <a href = "#" class = "btn btn-default" role = "button">
                           Button
                        </a>
                     </p>

                  </div>
               </div>

               <div class = "col-sm-6 col-md-3">
                  <div class = "thumbnail">
                     <img src = "{% static 'images/food.jpg' %}" alt = "Generic placeholder thumbnail">
                  </div>

                  <div class = "caption">
                     <h3>Thumbnail label</h3>
                     <p>Some sample text. Some sample text.</p>

                     <p>
                        <a href = "#" class = "btn btn-primary" role = "button">
                           Button
                        </a>

                        <a href = "#" class = "btn btn-default" role = "button">
                           Button
                        </a>
                     </p>

                  </div>
               </div>

               <div class = "col-sm-6 col-md-3">
                  <div class = "thumbnail">
                     <img src = "{% static 'images/food.jpg' %}" alt = "Generic placeholder thumbnail">
                  </div>

                  <div class = "caption">
                     <h3>Thumbnail label</h3>
                     <p>Some sample text. Some sample text.</p>

                     <p>
                        <a href = "#" class = "btn btn-primary" role = "button">
                           Button
                        </a>

                        <a href = "#" class = "btn btn-default" role =" button">
                           Button
                        </a>
                     </p>

                  </div>
               </div>

               <div class = "col-sm-6 col-md-3">
                  <div class = "thumbnail">
                     <img src = "{% static 'images/food.jpg' %}" alt = "Generic placeholder thumbnail">
                  </div>

                  <div class = "caption">
                     <h3>Thumbnail label</h3>
                     <p>Some sample text. Some sample text.</p>

                     <p>
                        <a href = "#" class = "btn btn-primary" role = "button">
                           Button
                        </a>

                        <a href = "#" class = "btn btn-default" role = "button">
                           Button
                        </a>
                     </p>

                  </div>
   </div>
    </section>
    <!-- /.content -->
  </div>
  <script src="{% static 'js/dashboard/jquery.timeago.js' %}"></script>
  <script src="{% static 'js/dashboard/moment.js' %}"></script>

{% endblock %}
