{% extends 'base_dashboard.html' %}
{% load staticfiles %}

{% block main %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            {% for event in events %}

               <div class = "col-sm-3 col-md-3">
                  <div class = "thumbnail">
                     <img src = "{% static 'images/food.jpg' %}" alt = "Generic placeholder thumbnail">
                  </div>

                  <div class = "caption">
                      <div class="title"  style="height:60px">
                     <a href="/event/{{ event.id }}"><h3 style="font-size:19p">{{ event.title }}</h3></a>
                      </div>
                      <div class="description" style="height:60px">
                     <p>{{ event.description|truncatechars:100 }}...</p>
                      </div>

                     <p>
                        <a href = "#" class = "btn btn-primary" role = "button">
                           Button
                        </a>

                        <a href = "#" class = "btn btn-default" role = "button">
                           Button
                        </a>
                         <a href = "#" class = "btn btn-default" role = "button">
                           Button
                        </a>
                     </p>

                  </div>
            </div>
        {% endfor %}
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <script src="{% static 'js/dashboard/jquery.timeago.js' %}"></script>
  <script src="{% static 'js/dashboard/moment.js' %}"></script>

{% endblock %}
