{% extends 'base_dashboard.html' %}
{% load staticfiles %}

{% block main %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            {{ event.id }}
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <script src="{% static 'js/dashboard/jquery.timeago.js' %}"></script>
  <script src="{% static 'js/dashboard/moment.js' %}"></script>

{% endblock %}
