{% extends 'base_dashboard.html' %}
{% load staticfiles %}

{% block main %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Informations
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Info</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
              <div class="box-body" style="text-align: justify; text-justify: inter-word;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent venenatis gravida ante et aliquet. Quisque eget bibendum tortor.
              Aliquam quis lacinia odio. Vivamus at orci in tellus laoreet laoreet vel sit amet diam.
              In in porttitor mauris. Ut condimentum venenatis ipsum, sit amet sollicitudin eros volutpat eu.
              Vivamus at nulla tempor, iaculis est sit amet, dignissim neque.
              Proin eget elementum nunc, sed iaculis arcu.
              In nisi felis, vulputate ac elementum et, faucibus ut urna. Donec rutrum nec elit sed volutpat.
              Nulla vitae viverra est, efficitur elementum nunc.
              Fusce tincidunt iaculis odio, sit amet placerat ipsum ornare eu. Proin interdum vehicula malesuada.
              Donec euismod augue ac lacus interdum ultrices.
              Vivamus fringilla, neque quis ullamcorper aliquam, orci ante accumsan nulla,
              sed ullamcorper arcu augue id velit.
              <br><br>
              Nullam porttitor, turpis id pretium commodo, urna mauris luctus tortor, non faucibus elit lorem ut dui.
              Integer sit amet viverra augue. Aenean bibendum erat vitae risus egestas, sed congue lorem fermentum.
              Pellentesque leo orci, imperdiet in porta ut, ornare non nunc.
              Aenean quis leo vitae tellus volutpat molestie ac interdum est.
              Pellentesque urna est, mollis et efficitur et, vehicula id lectus. Integer nec tortor turpis.
              Fusce bibendum est eu auctor pharetra. Proin vulputate, metus vitae tristique pretium,
              quam nulla sagittis libero, vel scelerisque nulla justo tristique turpis.
              Pellentesque finibus magna quis sapien iaculis porta. Integer sed fringilla erat, et lobortis metus.
              Curabitur mollis risus quis ullamcorper rutrum. Nulla accumsan lorem diam. Donec et tempor ex,
              vitae tincidunt urna.
              <br><br>
              Fusce justo dolor, malesuada nec velit at, ornare pellentesque leo.
              Mauris ut libero in augue faucibus volutpat ac ac mauris. Mauris vehicula sem ut urna aliquet,
              id aliquet dolor dignissim. Sed interdum congue imperdiet. Etiam malesuada mi feugiat dignissim tempor.
              Vivamus quis quam non justo facilisis tincidunt. Aliquam fringilla orci non diam eleifend viverra.
              Maecenas placerat euismod turpis vitae pulvinar. Proin non massa eu sem fermentum finibus et a metus.
              Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc tristique dolor sed ex tempus mollis.
              Nullam ultricies, metus lobortis molestie scelerisque, nibh magna molestie diam,
              eu placerat tortor magna quis eros.
              <br><br>
              Nullam porttitor, turpis id pretium commodo, urna mauris luctus tortor, non faucibus elit lorem ut dui.
              Integer sit amet viverra augue. Aenean bibendum erat vitae risus egestas, sed congue lorem fermentum.
              Pellentesque leo orci, imperdiet in porta ut, ornare non nunc.
              Aenean quis leo vitae tellus volutpat molestie ac interdum est.
              Pellentesque urna est, mollis et efficitur et, vehicula id lectus. Integer nec tortor turpis.
              Fusce bibendum est eu auctor pharetra. Proin vulputate, metus vitae tristique pretium,
              quam nulla sagittis libero, vel scelerisque nulla justo tristique turpis.
              Pellentesque finibus magna quis sapien iaculis porta. Integer sed fringilla erat, et lobortis metus.
              Curabitur mollis risus quis ullamcorper rutrum. Nulla accumsan lorem diam. Donec et tempor ex,
              vitae tincidunt urna.
              <br><br>
              Fusce justo dolor, malesuada nec velit at, ornare pellentesque leo.
              Mauris ut libero in augue faucibus volutpat ac ac mauris. Mauris vehicula sem ut urna aliquet,
              id aliquet dolor dignissim. Sed interdum congue imperdiet. Etiam malesuada mi feugiat dignissim tempor.
              Vivamus quis quam non justo facilisis tincidunt. Aliquam fringilla orci non diam eleifend viverra.
              Maecenas placerat euismod turpis vitae pulvinar. Proin non massa eu sem fermentum finibus et a metus.
              Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc tristique dolor sed ex tempus mollis.
              Nullam ultricies, metus lobortis molestie scelerisque, nibh magna molestie diam,
              eu placerat tortor magna quis eros.
              </div>
            </div>
        <!-- /.col -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

<script>

</script>
{% endblock %}