{% extends 'base_dashboard.html' %}
{% load staticfiles %}

{% block main %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-ban"></i>{{ message }}</h4>
        </div>
      {% endfor %}
    {% endif %}
    <section class="content-header">
      <h1>
        Password change
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Password change</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Change your password</h3>
            </div>
            <!-- /.box-header -->
            <form action="/password" method="post">
            <div class="box-body">
              <div class="form-group">
                <input class="form-control" id="password" placeholder="Old password:" required>
              </div>
              <div class="form-group">
                <input class="form-control" id="new_password" name="password" placeholder="New password:" required>
              </div>
              <div class="form-group">
                <input class="form-control" id="confirm_password" placeholder="Confirm password:" required>
              </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Apply</button>
              </div>
            </div>

            <!-- /.box-footer -->
          </div>
        </form>
        </div>
        <!-- /.col -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

<script>

</script>
{% endblock %}